absl-py==1.4.0
accelerate==0.20.3
addict==2.4.0
aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1664378549280/work
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite @ file:///home/conda/feedstock_root/build_artifacts/aiosqlite_1682491975081/work
altair==5.0.1
amqp==5.1.1
annotated-types==0.5.0
anyio @ file:///tmp/build/80754af9/anyio_1644481698350/work/dist
apache-beam==2.48.0
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
arrow==1.2.3
asgiref==3.7.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attr==0.3.1
attrs @ file:///croot/attrs_1668696182826/work
audioread==3.0.0
auto-labeling-pipeline==0.1.23
av==9.2.0
azure-core==1.29.3
azure-storage-blob==12.17.0
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.zoneinfo==0.2.1
bardapi==0.1.24
basicsr==1.4.2
bcrypt==4.0.1
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
billiard==4.1.0
bleach==5.0.1
blessed==1.20.0
blis==0.7.9
boto==2.49.0
boto3==1.16.63
botocore==1.19.63
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
boxing==0.1.4
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.8
celery==5.3.1
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
claucy @ git+https://github.com/mmxgn/spacy-clausie.git@ac8c7d9ee89f3ed26344e4a0ce4f58ef63df3a87
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.6
comm @ file:///croot/comm_1671231121260/work
confection==0.1.0
contourpy==1.1.0
coreapi==2.3.3
coreschema==0.0.4
crcmod==1.7
croniter==1.3.15
cryptography @ file:///croot/cryptography_1677533068310/work
cupy-cuda11x==12.1.0
cupy-wheel==12.1.0.post1
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.14
datasets @ file:///croot/datasets_1684482929171/work
dateutils==0.6.12
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deep-translator==1.11.4
deepdiff==6.3.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diffusers==0.11.1
dill==0.3.6
dj-database-url==0.5.0
dj-rest-auth==2.2.8
Django==3.2.20
django-allauth==0.52.0
django-annoying==0.10.6
django-celery-results==2.4.0
django-cleanup==6.0.0
django-cors-headers==3.6.0
django-debug-toolbar==3.2.1
django-drf-filepond==0.5.0
django-environ==0.10.0
django-extensions==3.1.0
django-filter==2.4.0
django-health-check==3.17.0
django-model-utils==4.1.1
django-polymorphic==3.1.0
django-ranged-fileresponse==0.1.2
django-rest-polymorphic==0.1.10
django-rest-swagger==2.2.0
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
djangorestframework-xml==2.0.0
dnspython==2.3.0
doccano==1.8.4
docopt==0.6.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-yasg==1.20.0
easydict==1.10
einops==0.6.1
emoji==2.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.6.1/en_core_web_trf-3.6.1-py3-none-any.whl#sha256=f9a1f0ae83954c49ebf92c0f7043ea02de51db59bf6cd3ed849d46928612c806
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
environs==9.5.0
et-xmlfile==1.1.0
evaluate==0.4.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
expiringdict==1.2.2
facexlib==0.3.0
fastapi==0.88.0
fastavro==1.7.4
fasteners==0.18
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
fastrlock==0.8.1
ffmpy==0.3.1
filelock==3.12.0
filetype==1.2.0
filterpy==1.4.5
fire==0.5.0
flatbuffers==23.5.26
flower==1.2.0
fonttools==4.41.1
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///croot/fsspec_1682525977151/work
ftfy==6.1.1
furl==2.1.3
future @ file:///croot/future_1677599870788/work
gast==0.4.0
gdown==4.7.1
gensim==4.3.1
gensim-sum-ext==0.1.2
gfpgan==1.3.8
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-api-core==2.11.0
google-auth==2.14.1
google-auth-oauthlib==1.0.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.2
google-cloud-logging==2.7.2
google-cloud-storage==2.5.0
google-cloud-translate==2.0.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
gradio==3.39.0
gradio_client==0.3.0
greenlet==2.0.2
grpc-google-iam-v1==0.12.4
grpcio==1.56.0
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
hdfs==2.7.0
hpack==4.0.0
htmlmin==0.1.12
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
huggingface-hub @ file:///croot/huggingface_hub_1684443994767/work
humanize==4.8.0
hyperframe==6.0.1
idna @ file:///croot/idna_1666125576474/work
ijson==3.2.3
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
inflection==0.5.1
inquirer==3.1.3
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
itypes==1.2.0
jax==0.4.13
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==0.10.0
joblib @ file:///croot/joblib_1685113087166/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpointer==2.3
jsonschema==3.2.0
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1673559782596/work
jupyter-server @ file:///croot/jupyter_server_1671707632269/work
jupyter-ydoc @ file:///croot/jupyter_ydoc_1683747223142/work
jupyter_client @ file:///croot/jupyter_client_1676329080601/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyter_server_fileid @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_fileid_1681071667289/work
jupyter_server_ydoc @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_ydoc_1678043727957/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1680263892608/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
jupyterlab_server @ file:///croot/jupyterlab_server_1680792501448/work
kaggle==1.5.16
keras==2.12.0
kiwisolver==1.4.4
kombu==5.3.1
label-studio==1.8.2
label-studio-converter==0.0.54rc0
label-studio-tools==0.0.3
langchain==0.0.205
langchainplus-sdk==0.0.20
langcodes==3.3.0
launchdarkly-server-sdk==7.5.0
lazy_loader==0.3
lemminflect==0.2.3
libclang==16.0.0
librosa==0.10.0.post2
lightning==2.0.1
lightning-cloud==0.5.37
lightning-utilities==0.9.0
linkify-it-py==2.0.2
lit==16.0.5
llvmlite==0.40.1
lmdb==1.4.1
lml==0.1.0
lockfile==0.12.2
lxml @ file:///croot/lxml_1679646450407/work
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath==1.2.1
msgpack==1.0.5
multidict @ file:///croot/multidict_1665674239670/work
multiprocess @ file:///croot/multiprocess_1668006441451/work
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclassic @ file:///croot/nbclassic_1681756170010/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650308366712/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx @ file:///croot/networkx_1678964333703/work
nltk==3.6.7
notebook @ file:///croot/notebook_1681756172480/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numba==0.57.1
numexpr @ file:///croot/numexpr_1668713893690/work
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
objsize==0.6.1
openai==0.27.8
openapi-codec==1.3.2
openapi-schema-pydantic==1.2.4
opencv-python==4.8.0.74
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.0.2
orderedmultidict==1.0.1
orjson==3.9.1
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
paramiko==3.3.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy==0.10.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pieutils @ file:///home/tanluuuuuuu/Desktop/luunvt/product_classification/src/pie_chatgpt
Pillow==9.3.0
pip-chill==1.0.3
pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
platformdirs==3.10.0
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
preshed==3.0.8
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
proto-plus==1.22.3
protobuf==3.20.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
psycopg2-binary==2.9.6
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycorenlp==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.12
pydantic_core==2.6.3
pydot==1.4.2
pydub==0.25.1
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
Pygments @ file:///croot/pygments_1684279966437/work
PyJWT==2.8.0
pymongo==4.4.0
PyNaCl==1.5.0
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyRFC3339==1.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-json-logger==2.0.4
python-multipart==0.0.6
python-slugify==8.0.1
python3-openid==3.2.0
pytorch-lightning==2.0.7
pytz @ file:///croot/pytz_1671697431263/work
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole @ file:///croot/qtconsole_1681394213385/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
readchar==4.0.5
realesrgan==0.2.5.0
redis==3.5.3
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
remote-kernel==1.1
requests==2.31.0
requests-oauthlib==1.3.1
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich==13.5.2
rouge-score==0.1.2
rq==1.10.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
rules==2.2
s3transfer==0.3.7
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.9.3
seaborn==0.12.2
semantic-version==2.10.0
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.30.0
seqeval==1.2.2
shortuuid==1.0.11
simplejson==3.19.1
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
soundfile==0.12.1
soupsieve @ file:///croot/soupsieve_1680518478486/work
soxr==0.3.5
spacy==3.6.1
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-lookups-data==1.0.5
spacy-transformers==1.2.5
spacymoji==3.1.0
SQLAlchemy==1.4.49
sqlparse==0.4.4
srsly==2.4.7
sshtunnel==0.4.0
stable-diffusion-videos==0.8.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.22.0
starsessions==1.3.0
sympy @ file:///croot/sympy_1668202399572/work
tb-nightly==2.14.0a20230801
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado @ file:///croot/terminado_1671751832461/work
text-unidecode==1.3
texttable==1.6.7
thinc==8.1.10
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.9.5
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2+cu118
torchmetrics==1.0.3
torchvision==0.15.2
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.66.1
traitlets @ file:///croot/traitlets_1671143879854/work
transformers==4.30.2
trash-cli==0.23.2.13.2
triton==2.0.0
typer==0.9.0
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.6.2
tzdata==2023.3
ua-parser==0.18.0
uc-micro-py==1.0.2
ujson==5.8.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.16
user-agents==2.2.0
uvicorn==0.23.2
vine==5.0.0
waitress==2.1.2
wasabi==1.1.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614804261064/work
websockets==11.0.3
Werkzeug==2.3.6
whitenoise==6.5.0
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
wrapt==1.14.1
xmljson==0.2.0
xxhash @ file:///croot/python-xxhash_1667919521615/work
y-py @ file:///croot/y-py_1683555143488/work
yapf==0.40.1
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
ypy-websocket @ file:///croot/ypy-websocket_1684171737040/work
zipp @ file:///croot/zipp_1672387121353/work
zstandard==0.21.0
